@import 'config';
@import 'utilities';
* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 70px;
  height: 70px;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.3s ease-in-out;
    color: #fff;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      color: $main-color;
      border-color: $main-color;
    }
  }
}

// Header
#header {
  &-home {
    background: $bg-image no-repeat left center/cover;
    height: 100vh;
    color: #fff;
    position: relative;

    // Header content
    .header-content {
      text-align: center;
      padding-top: 20%;
    }

    h1 {
      font-size: 4rem;
      line-height: 1.2;
    }
  }

  &-inner {
    background: $bg-image no-repeat 0 30% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }
}

// Home section

#home {
  &-a {
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.2rem;
    }
    .fas {
      color: $main-color;
      padding-bottom: 0.6rem;
    }
  }

  &-b {
    .stats {
      margin: 3rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-number {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }

      div {
        padding: 3rem 0;

        &:nth-child(odd) {
          background: $light-color;
        }

        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }
  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;

      &-icon {
        background-color: $dark-color;
        border-radius: 50%;
        display: inline-block;
        color: #fff;
        height: 70px;
        width: 70px;
        line-height: 70px;
        position: relative;
        padding: 2rem;
        transition: all 0.5s ease-in;
        box-shadow: 0 5px 7px 3px #ccc;

        &:hover {
          background-color: $main-color;
          transform: scale(1.06);

          .process-step {
            background: $dark-color;
          }
        }
      }

      &-step {
        border-radius: 50%;
        height: 15px;
        width: 15px;
        position: absolute;
        background: $main-color;
        top: 0;
        right: 0;
        font-size: 28px;
        padding: 1rem;
        line-height: 15px;
        text-align: center;
        transition: all 0.5s ease-in;
      }
    }
  }
}

// About
#about {
  &-a {
    .about-info {
      display: grid;
      grid-template-areas:
        'bioimage bio bio'
        'aw1 aw2 aw3';
      gap: 1.2rem;

      // grid areas
      .bio-image {
        grid-area: bioimage;
      }

      .bio {
        grid-area: bio;
        border-left: 3px solid $main-color;

        padding: 2rem 0.5rem;
      }

      .award-1 {
        grid-area: aw1;
      }

      .award-2 {
        grid-area: aw2;
      }

      .award-3 {
        grid-area: aw3;
      }

      .award-1 .fas,
      .award-2 .fas,
      .award-3 .fas {
        margin-bottom: 1rem;
        color: $main-color;
      }
    }
  }

  &-b {
    .progress {
      height: 15px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 1rem;
      overflow: hidden;

      div {
        background: $main-color;
        height: 100%;
      }
    }
  }

  &-c {
    .about-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;

      img {
        width: 70%;
      }
    }
  }

  // Testimonials
  &-d {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.5rem;

      p {
        border: 2px solid $medium-color;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        box-shadow: 0 3px 5px #ccc, 0 -3px 5px #ccc;
      }

      ul {
        display: flex;
        margin-top: 1rem;
        align-items: center;
      }

      img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin-right: 0.7rem;
        box-shadow: 0 3px 5px 2px #ccc;
      }
    }
  }
}

//Footer
#footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;
  text-align: center;

  .footer-content {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social {
    .fab {
      margin-right: 1rem;
      border: 2px solid #fff;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      padding: 0.5rem;
      line-height: 20px;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: $main-color;
        color: $dark-color;
      }
    }
  }
}
